.body{
    font-family: 'Sora',Arial,sans-serif;
    font-size: 16px;
    background-image: url('../../images/6-konechn-black.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

